.yes {
  padding: 16px 16px;
  display: none;
  text-align: center;
  font-size: 13pt;
  color: rgba(255, 255, 255, 1);
  background-color: #40b29b;
  opacity: 0.9;
  max-width: 250px;
  line-height: 170%;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 10px;
  overflow: hidden;
  background-color: #404040;
  opacity: 0.7;
}

li a:hover:not(.active) {
  background-color: #404040;
}

.active {
  background-color: #379683;
}

li:last-child {
  border-right: none;
}

li {
  float: left;
  border: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-family: Montserrat, Arial;
  text-transform: uppercase;
  font-weight: regular;
}

li a:hover {
  background-color: #404040;
  color: #379683;
  text-decoration: none;
}

li a:active {
  background-color: #379683;
}

h1 {
  font-size: 45px;
  color: #379683;
  text-transform: uppercase;
  font-family: Montserrat, Arial;
}

.container {
  font-family: Montserrat, Arial;
  padding: 0px 0px 80px 0px;
  position: relative;
}

.title {
  font-size: 45px;
  color: #379683;
  padding: 30px 0px 30px 0px;
  margin: 50px 0px 30px 0px;
  background-color: white;
}

#body {
  background: url(./drops6.jpg);
  background-position: fixed;
}

#text {
  font-size: 16pt;
  text-align: center;
  padding: 30px 50px;
  line-height: 200%;
  position: relative;
}

.btn-lg {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 30px 0px;
  padding: 0px;
  color: white;
  text-shadow: 2px 2px 5px black;
  position: relative;
}

.row {
  margin: 50px 50px;
  position: relative;
}

.btn-lg:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
  color: black;
  text-shadow: 2px 2px 5px white;
}

.Reason1 {
  background-image: url(./button-images/image1.jpg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason2 {
  background-image: url(./button-images/image2.jpg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason3 {
  background-image: url(./button-images/image3.jpg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason4 {
  background-image: url(./button-images/image4.jpg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason5 {
  background-image: url(./button-images/image5.jpeg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason6 {
  background-image: url(./button-images/image6.jpeg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason7 {
  background-image: url(./button-images/image7.jpeg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason8 {
  background-image: url(./button-images/image8.jpg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

.Reason9 {
  background-image: url(./button-images/image9.jpeg);
  background-repeat: none;
  background-position: relative;
  background-size: auto;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

@media screen and (min-width: 534px) and (max-width: 992px) {
  .col-md-4 {
    max-width: 250px;
    position: relative;
    margin: auto;
  }
  .yes {
    width: 250px;
  }
}

button:focus {
  outline: none;
}

.box {
  background-color: #9dddd1;
  text-align: center;
}
